/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: ''; 
    clear: both;
    display: block;
}

header{
    background-color: black;
    float: left;
    width: 180px;
}

header,
main{
    height: calc(100vh - 100px);
}

main{
    background-color: #141922;
    float: left;
    width: calc(100% - 180px);
    color: white;
    overflow-y: auto;
    display: flex;
}

footer{
    background-color: #282828;
    height: 100px;
    display: flex;
}

main > div.banner{
    height: 70px;
    width: 100%; 
    background-color: #080b12;
    position: fixed;
    opacity: 0.5;
}

main > div.header-of-main{
    height: 100px;
    width: 100%; 
}

button#button-upgrade{
    border-radius: 1rem;
    color: white;
    background-color: #080b12;
    padding: .5rem 1.5rem;
    opacity: 1;
}

p{
    font-size: 1rem;
    padding: 3rem;
}

footer > div.song-name{
    color: white;
    display: flex;
    align-items: center;
}

footer > div.play-bar{
    margin: auto;
    background-color: white;
    border-radius: 1rem;
    height: 2.5px;
    width: 30%;
}

h1{
    color: white;
}

li.li-item{
    color: #6b6b6b;
}

li.li-title{
    color: white;
}

div.container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

div.container1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav.nav3 li{
    color: #6b6b6b;
    list-style-type: none;
}

ul.ul3 li{
    padding: 1rem;
}

ul.ul3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 576px) {
    header{
        width: 80px;
    }
    main{
        width: calc(100% - 80px);
    }
    ul.ul1 > li.li-item{
        display: none;
    }
    ul.ul2 > li.li-item{
        display: none;
    }
}