/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: ''; 
    clear: both;
    display: block;
}

header{
    background-color: black;
    float: left;
    width: 180px;
}

header,
main{
    height: calc(100vh - 100px);
}

main{
    background-color: #141922;
    float: left;
    width: calc(100% - 180px);
    color: white;
    overflow-y: auto;
    display: flex;
}

main > div.banner{
    height: 100px;
    width: 100%; 
    background-color: 0rgba(0,0,0,3);
    position: fixed;
}

main > div.header-of-main{
    height: 100px;
    width: 100%; 
}

p{
    font-size: 3rem;
    padding: 5rem;
}

footer{
    background-color: #282828;
    height: 100px;
    display: flex;
}

footer > div.song-name{
    color: white;
    display: flex;
    align-items: center;
}

footer > div.play-bar{

}

h1{
    color: white;
}

li.li-item{
    color: #6b6b6b;
}

li.li-title{
    color: white;
}

div.container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

div.container1 ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav.nav3 li{
    color: #6b6b6b;
    list-style-type: none;
}

ul.ul3 li{
    padding: 1rem;
}

@media screen and (max-width: 576px) {
    header{
        width: 80px;
    }
    main{
        width: calc(100% - 80px);
    }
    ul.ul2{
        display: none;
    }  
}